.index-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('../assets/fondoIndex.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #4a148c;
}
