.product-page{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 100dvh;
    background-color: aliceblue;

}

.filter-container{
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 20px;
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    background-color: beige;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}