.productCard {
    display: flex;
    flex-direction: column;
    width: 100%; /* ocupa la celda completa */
    height: 100%;
    box-sizing: border-box;
}

.productCard:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transform: translateY(-3px);
}

/* Imagen adaptable */
.product-image {
  width: 100%;
  height: 200px; /* Fija altura para que todas sean iguales */
  object-fit: cover;
  border-radius: 6px;
}

/* Texto */
.product-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
  margin: 8px 0;
}

.product-description {
  font-size: 1em;
  color: #555;
  margin-bottom: 16px;
  flex-grow: 1;
}

.product-price {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 16px;
}

.product-category {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 16px;
}

/* Ajustes móviles */
@media (max-width: 500px) {
  .product-image {
    height: 150px;
  }
}