.productCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  width: 200px;
}

.product-image {
  width:150px;
  height: 150px;
  
}
.product-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
  margin: 8px 0;
}
.product-description {
  font-size: 1em;
  color: #555;
  margin-bottom: 16px;
}
.product-price {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 16px;
}
.product-category {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 16px;
}
