.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#897ee0;
    padding: 10px 30px;
    width: 70rem;
    margin: 5rem auto;
}