@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

.enhanced-welcome {
  padding: 4rem 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: auto;
  text-align: center;
  
  background: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Desenfoque del fondo */
  -webkit-backdrop-filter: blur(10px); /* Para compatibilidad con Safari */

  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out;
}

.enhanced-welcome h1 {
  font-size: 3.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
  font-family: "Imperial Script", cursive;
  color: black;

}

.enhanced-welcome .brand {
  /* background: linear-gradient(to right, #B38A32, #715413);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-family: "Imperial Script", cursive;
}

.enhanced-welcome p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: #fff;
}

.enhanced-welcome a button,
.enhanced-welcome .button {
  background: #ffffff;
  color: #ff4081;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
  box-shadow: 0 4px 12px rgba(255, 64, 129, 0.3);
}

.enhanced-welcome a button:hover,
.enhanced-welcome .button:hover {
  background: #ffeef4;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}